<div class="side-menu" style="transition: none;width:250px;">
    <div class="logo"><span class="text-pre">Exam</span><span class="text-end">Manage</span></div>
    <div class="logo-hide"><span class="text-pre">E</span><span class="text-end">M</span></div>
    <div class="menu padding-top-15">
        <ul>
            <li><a href="/manageuser"><span uk-icon="cloud-upload"></span><span class="text">จัดการผู้ใช้งาน</span></a></li>
            <li><a href="/exam"><span uk-icon="file-text"></span><span class="text">จัดการการสอบ</span></a></li>
            <li><a href="/building"><span uk-icon="home"></span><span class="text">จัดการตึก</span></a></li>
            <li><a href="/room"><span uk-icon="list"></span><span class="text">จัดการห้อง</span></a></li>
            <li><a href="/manageuser/teacher"><span uk-icon="user"></span><span class="text">ข้อมูลอาจารย์</span></a></li>
            <li><a href="/manageuser/student"><span uk-icon="users"></span><span class="text">ข้อมูลนิสิต</span></a></li>
            <li><a href="/table"><span uk-icon="clock"></span><span class="text">ดูตารางเวลา</span></a></li>
            <li><a href="#" onclick="hide(this)"><span class="icon-hide" uk-icon="triangle-left"></span><span class="text">ปิดเมนู</span></a></li>
        </ul>
    </div>
</div>